:root {
  --branding-color: #6c63ff;
  --font-dark-grey: #272142;
  --bg-faint-grey: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: black;
}

nav {
  padding: 20px 0;
}

.logo {
  max-height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
}

nav li {
  list-style-type: none;

}

nav li a {
  text-decoration: none;
  color: #272142;
  opacity: .7;
  font-weight: 500;
  transition: all 100ms ease-in-out;

}

nav li a:hover,
nav li a.active{
  color: var(--branding-color);
  opacity: 1;
}

/* .navbar-collapse {
  justify-content: flex-end;
} */

.hero {
  background-color: var(--bg-faint-grey);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--font-dark-grey);
  margin: 0;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: var(--font-dark-grey);
  margin-bottom: 60px;
}

.button {
  padding: 18px 32px;
}

.button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.primary-btn {
  background-color: var(--branding-color);
  border: none;
}

.primary-btn a {
  color: white;
}

.outline-btn {
  border: 1px solid var(--branding-color);
  background-color: white;
}

.outline-btn a {
  color: var(--branding-color);
}

.homepage-projects h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

.homepage-projects p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}

.inquiry-container {
  background-color: var(--bg-faint-grey);
  margin: 100px 0 40px 0;
  padding: 60px !important;
}

.heading-inquiry {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: bold;
}

.inquiry-container p {
  font-size: 18px;
  opacity: 0.7;
}

.email {
  font-size: 24px;
  font-weight: 500;
}

.email a {
  text-decoration: none;
  color: black;
}

.email a:hover {
  color: var(--branding-color);
}

.icons i {
  padding: 10px 11px;
  border-radius: 100%;
  background-color: rgba(108, 99, 255, 0.05);
  color: var(--branding-color);
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.icons i:hover {
  color: white;
  background-color: var(--branding-color);
}

.content-container {
  margin: 100px 0 100px 0;
}

.content-container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  color: black;
}

.content-container h2 {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.content-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.content-container p {
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.content-container img {
  border-radius: 16px;
}

.content-work img {
  padding: 20px;
  border-radius: 32px;
}

.content-work p {
  font-size: 14px;
  color: #272142;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .hero h1 {
    font-size: 44px;
  }

  .project-description {
    text-align: center;
  }

  .project-description h2 {
    font-size: 44px;
  }

  .inquiry-container {
    text-align: center;
    padding: 30px;
  }

  .inquiry-btn-container {
    padding-top: 20px;
  }

  .content-container {
    text-align: center;
  }

  .portrait {
    margin-top: 40px;
  }
}

@media (min-width: 993px) {
  .project-description {
    padding-right: 40px;
  }

  .inquiry-btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .content h1 {
    font-size: 40px;
  }
}